.view-blog-view{
	.view-content{
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding: $view-content-pad;
		float: none;
		height: 700px;

		.view-blog-post{
			width: 33.33%;
			float: left;

			.field--name-field-blog-image{
				@include grid-span(8,3);
				float: none;
				padding-bottom: 59%;

				a{
				    position: absolute;
				    border: none;
				    width: $teaser-width;
				    height: $teaser-img-hg;
				    max-height: none;
				    max-width: none;
				    left: -0.1px;
				    top: 0px;

				}

				img{
				    position: absolute;
				    margin: 0px;
				    padding: 0px;
				    border: none;
				    width: $teaser-width;
				    height: $teaser-img-hg;
				    max-height: none;
				    max-width: none;
				    z-index: -999999;
				    left: -0.1px;
				    top: 0px;
			    
				}
			}

			.field--name-field-blog-description {
				width: $teaser-width;
				text-align: center;
				color: $link;
				padding-bottom: $view-post-pad;
				font-family: Brandon_Reg;

			}

			h1{
				text-align: center;
				width: $teaser-width;
				font-size: $blog-teaser-title;
				padding: $post-tea-title;

				a{
					text-decoration: none;
					color: $mainorange;

				}
			}

		}
	}
	.pager-load-more{
		@include grid-span(2,6.15);
		height: $ver-mas-line;
		float: none;

		.pager-next{
			a{
				@include grid-span(12,1);
				line-height: $ver-mas-line;
				background-color: $mainorange;
				text-decoration: none;
				margin-bottom: $ver-mas-mar;
				color: $btn-txt;
				font-size: $btn-mas-size;
				font-family: Brandong_Bold;
			    box-shadow: 1px 2px 1px #888888;

			}
		}
	}
}