.node-type-destino{
	.section-main {
		max-width: 1200px;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		float: right;
		clear: none;
		position: relative;

	}
	.tabs--primary{
		display: none;

	}
	.view-destino-page-view{
		img{
			width: 600px;
			height: 350px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;

		}
		.img-right {
			float: right;

		}
		.img-left {
			float: left;

		}
	}
	.dest-wrap-img{
		.background-image-formatter{
			@include grid-span(12, 1);
			height: $header-hg;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;

		}

	}
	.dest-title{
		h1{
			font-size: $dest-title;
			color: $text;

		}

		h2{
			font-size: $dest-title;

		}

	}
	.dest-text{
		color: $text;
		font-size: $dest-text;

		p{

		}

	}

	//Blocks for last wrap
	.block--views-destino-page-view-block-2{
		.dest-title{

		}
		.dest-text{

		}

	}


	//Modify Buttons for Destinos
	#block-bean-preguntanos-tus-dudas{
		margin: $btn-dest-lef-mar;
		float: left;

	}

	#block-bean-solicita-ya-tu-cotizacin{
		margin: $btn-dest-rig-mar;
		float: right;

	}
}
