.destinos-grid {
	@include grid-span($grids,1);
	margin: 0;
	padding: 0;
	margin-top: $head-hg;

	@include breakpoint($desk) {
		margin-top: 0;

	}

	.views-row {
		@include grid-span($grids, 1);
		float: left;
		height: $dest-hg-mob;

		@include breakpoint($desk) {
			width: $dest-wt-wd;
			height: $dest-hg-tab;

		}
		@include breakpoint($hm-bp-wd) {
			width: $dest-wt-wd;
			height: $dest-hg-wd;

		}

		h2 {
			a {
				@include grid-span($grids, 1);
				text-align: center;
				height: $dest-hg-mob;
				position: absolute;
				color: #fff;
				line-height: $dest-hg-mob;
				text-decoration: none;

				@include breakpoint($desk) {
					height: $dest-hg-tab;
					line-height: $dest-hg-tab;
					width: $dest-wt-wd;

				}
				@include breakpoint($hm-bp-wd) {
					line-height: $dest-hg-wd;
					height: $dest-hg-wd;

				}
			}
		}

		img {
			@include grid-span($grids, 1);
			object-fit: cover;
			height: $dest-hg-mob;

			@include breakpoint($tab) {
				height: $dest-hg-tab;

			}

			@include breakpoint($hm-bp-wd) {
				height: $dest-hg-wd;

			}
		}
		a{
			@include grid-span($grids, 1);
			line-height: $dest-hg-mob;

			@include breakpoint($tab) {
				line-height: $dest-hg-tab;

			}
			@include breakpoint($hm-bp-wd) {
				line-height: $dest-hg-wd;

			}
		}
	}
}
