.destinos-grid {
	@include grid-span($grids,1);
	margin: 0;
	padding: 0;

	.views-row {
		h2 {
			a {
				text-align: center;
				height: $dest_hg_tab;
				position: absolute;
				color: #fff;
				text-decoration: none;

			}

		}
		img {
			width: 100%;
			object-fit: cover;

		}
		@include breakpoint($tab) {
			@include grid-span($grids, 1);
			height: $dest_hg_tab;

			img {
				height: $dest_hg_tab;

			}
			a {
				@include grid-span($grids, 1);
				line-height: $dest_hg_tab;

			}

		}
		@include breakpoint($desk) {
			float: left;
			width: $dest_wt_wd;
			height: $dest_hg_sml;

			img {
				height: $dest_hg_sml;

			}
			a {
				width: $dest_wt_wd;
				line-height: $dest_hg_sml;

			}

		}
		@include breakpoint($hm-bp-wd) {
			float: left;
			width: $dest_wt_wd;
			height: $dest_hg_wd;

			img {
				height: $dest_hg_wd;

			}
			a {
				width: $dest_wt_wd;
				line-height: $dest_hg_wd;

			}

		}

	}

}
