.section-header {
    background-color: $navbar-colour;
    height: $head-hg;

    @include breakpoint($desk) {
    	display: block;
    	height: $head-hg-desk;

    }

}
.section-branding{
  margin-top: 23.5px;
	margin-left: 0px;
	display: none;
  background-color: $branding-colour;

	@include breakpoint($desk) {
    width: $logo-wd-desk;
    height: auto;
    float: left;
    margin-right: -100%;
    clear: none;
    display: block;
    margin-top: 23.5px;
    margin-left: 8%;

	}

  .site-logo {
      img {

      }
  }
}
