.background-image-header{
	width: 100%;
	height: $header-hg;
	background-position: center center;
	background-size: cover;
	float: right;

}
.bean-head-image, .view-blog-teaser-slides, .section-header-img{
	@include grid-span(12,1);
	float: none;
	position: relative;

	.flexslider{
		border: 0;

	}
	.field--name-field-header-text{
		@include grid-span(8,3);
		font-family: Brandon_Bold;
		text-align: center;
		font-size: 100px;
		text-transform: uppercase;
		line-height: 148px;
		margin-top: 5%;

		a{
			@include grid-span(12,1);
			height: 100%;
			text-decoration: none;
			color: $head-text-colour;

		}

	}
	.field--name-field-button-link{
		@include grid-span(4,5);
		height: $btn-home-height;
		background-color: $mainorange;
		line-height: $btn-home-height;
		font-family: Brandon_Bold;
		text-align: center;
		position: absolute;
		bottom: 12%;

		a{
			@include grid-span(12,1);
			height: 100%;
			color: $btn-txt;
			text-decoration: none;

		}

	}
	.flex-control-paging{
		z-index: 6;
		bottom: 0;

		.flex-active{
			background-color: $mainorange;

		}
		li{
			a{
				background-color: $white;
			}
		}
	}
}
