.background-image-header{
	@include grid-span($grids,1);
  height: $home-head-hg-sm;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint($desk) {
    height: $home-head-hg-wd;

  }

}
.bean-head-image, .view-blog-teaser-slides, .section-header-img, #zone-graphic-header{
	@include grid-span(12,1);
	float: none;
	position: relative;

	.flexslider{
		border: 0;

	}
	.field--name-field-header-text, h1{
		@include grid-span($grids, 1);
		text-align: center;
		color: $head-text-colour;
		text-decoration: bold;
		max-resolution: 3%;
		line-height: 121%;
		font-size: $h1-hm;
		margin-top: 29%;

		@include breakpoint($mob) {
			font-size: $h1-sm;
			margin-top: 18%;

		}
		@include breakpoint($tab) {
			font-size: $h1-tab;
			margin-top: 18%;

		}
		@include breakpoint(1100px) {
			@include grid-span(8, 3);
			font-size: $h1-wide;
			margin-top: 5%;

		}
		@include breakpoint(1600px) {
			@include grid-span(8, 3);
			font-size: $h1-max;
			margin-top: 5%;
			line-height: 148px;

		}
	}

	//Home and main button settings
	.field--name-field-button-link, #btn-home {
		@include grid-span($grids, 1);
    background: $maingreen;
    height: $btn-home-height;
		line-height: $btn-home-height;
    position: absolute;
    bottom: 0;
    box-shadow: $btn-shadow;

		@extend .btn-main;

    @include breakpoint($desk) {
      @include grid-span(4, 5);
      bottom: 15%;

    }

		@extend .btn-hover-green;

	}

	//Button Colour for Courses Header
	#block-bean-courses-header-image {
		.field--name-field-button-link, {
			background-color: $mainorange;

			@extend .btn-hover-orange;
			
		}
	}

	.flex-control-paging{
		z-index: 6;
		bottom: 0;

		.flex-active{
			background-color: $mainorange;

		}
		li{
			a{
				background-color: $white;
			}
		}
	}
}
#zone-graphic-header {
  @include grid-span($grids,1);
  height: $home-head-hg-sm;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint($desk) {
    height: $home-head-hg-wd;

  }

  h1 {
    @include grid-span($grids, 1);
    text-align: center;
    color: $head-text-colour;
    text-decoration: bold;
    max-resolution: 3%;
    line-height: 121%;
    font-size: $h1-hm;
    margin-top: 29%;

    @include breakpoint($mob) {
      font-size: $h1-sm;
      margin-top: 18%;

    }
    @include breakpoint($tab) {
      font-size: $h1-tab;
      margin-top: 18%;

    }
    @include breakpoint(1100px) {
      @include grid-span(8, 3);
      font-size: $h1-wide;
      margin-top: 5%;

    }
    @include breakpoint(1600px) {
      @include grid-span(8, 3);
      font-size: $h1-max;
      margin-top: 5%;
      line-height: 148px;

    }

  }
}
