.section-header {
    background-color: $navbar-colour;
    width: 100%;
    top: 0;
    left: 0;
    height: $head-hg;
    position: fixed;
    z-index: 1;

    @include breakpoint($tab) {
      height: $head-hg-tab;

    }
    @include breakpoint($desk) {
    	display: block;
    	height: $head-hg-desk;
      position: relative;

    }

  .section-branding {
    background-color: $branding-colour;

    @include breakpoint($desk) {
      width: $logo-wd-desk;
      margin-left: 4%;
      margin-top: 23.5px;
      height: auto;
      float: left;
      margin-right: -100%;
      clear: none;
      display: block;

    }
  	@include breakpoint(1250px) {
      margin-left: 8%;

  	}
  }

  .desk-trigger {
    display: none;

    @include breakpoint($desk) {
      display: block;

    }
    .logo-img {
      a {
        @include breakpoint($desk) {
          width: 100%;
          position: relative;
          top: 0;
          float: none;

        }
      }
    }
  }

  .mob-trigger {
    display: block;

    @include breakpoint($desk) {
      display: none;

    }
    .menu-icon {
      position: absolute;
      top: 11px;
      left: 14px;

      &:hover {
        cursor: pointer;

      }
    }
    .site-logo {
      display: block;
      width: 140px;
      height: 32px;
      margin: 13px auto;

      @include breakpoint(320px) {
        width: 180px;
        margin: 9px auto;

      }
      img {

      }
    }
  }
}
