.section-header {
    background-color: $navbar-colour;
    width: 100%;
    top: 0;
    left: 0;
    height: $head-hg;
    position: fixed;
    z-index: 1;

    @include breakpoint($tab) {
      height: $head-hg-tab;

    }
    @include breakpoint($desk) {
    	display: block;
    	height: $head-hg-desk;
      position: relative;

    }

}
.section-branding {
  width: $logo-wd-desk;
  height: auto;
  float: left;
  margin-right: -100%;
  clear: none;
  display: block;
  margin-top: 23.5px;
  background-color: $branding-colour;

  @include breakpoint($tab) {
    margin-left: 4%;

  }
	@include breakpoint(1250px) {
    margin-left: 8%;

	}

  .site-logo {
      img {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        clip: rect(183px,425px,259px,0px);

        @include breakpoint($mob) {
          position: relative;

        }
      }
  }
}
