.section-navbar {
  overflow: hidden;
  @include grid-span($grids, 1);

  @include breakpoint($desk) {
    @include grid-span(9,4);
    display: block;
    position: relative;
    height: $head-hg-desk;

  }

  //hidden nav on mob unless click
  .block--system-navigation {
    display: none;

    @include breakpoint($desk) {
      display: block;

    }
  }
  #block-system-navigation {

    ul{
      @include grid-span($grids, 1);
      background-color: $branding-colour;

      @include breakpoint($desk) {
        position: absolute;
        bottom: 0;
        height: $nav-hg;
        list-style: none;
        padding: 0px;
        margin: $navmargin;

      }

      li{
        text-align: center;
        list-style: none;

        @include breakpoint($desk) {
          display: inline-block;

        }
        @include breakpoint(900px) {
          margin: $nav-comp-mar;

        }
        @include breakpoint(1360px) {
          margin: $nav-comp-mar-wide;

        }
        @include breakpoint(1593px) {
          margin: $nav-comp-mar-max;

        }

        a {
          color: $text;
          display: block;
          padding: 5px 0px 5px 0px;
          text-decoration: none;
          font-size: $nav-link;
          font-family: Brandon_Reg;
          border-bottom: solid 1px $main-border-colour ;

          @include breakpoint($desk) {
            padding: $non-padd;
            border-bottom: none;

          }
        }
        &:hover {
          &:nth-child(odd) {
              a {
                color: $maingreen;
                border-bottom: solid 3px $maingreen;

              }
            }
        }
        &:hover {
          &:nth-child(even) {
            a {
              color: $mainorange;
              border-bottom: solid 3px $mainorange;

            }
          }
        }
      }
    }
  }
}
