.section-navbar{
  overflow: hidden;
  display: none;

  @include breakpoint($desk) {
      display: block;
      @include grid-span(9,4);
      min-height: $head-hg;

  }
  #block-system-navigation{
    ul{
      width: 100%;
      list-style: none;
      padding: 0px;
      margin: $navpadding;

      li{
        display: inline-block;
        margin: $nav-comp-mar;

          a{
              color: $text;
              display: block;
              padding: 9px 20px;
              text-decoration: none;
              font-size: $nav-link;
              font-family: Brandon_Reg;

          }
          &:hover {
            &:nth-child(odd) {
                a {
                  color: $maingreen;
                  border-bottom: solid 2px $maingreen;

                }
              }
          }
          &:hover {
            &:nth-child(even) {
              a {
                color: $mainorange;
                border-bottom: solid 2px $mainorange;

              }
            }
          }
      }
    }
  }
}
