#zone-graphic-header {
  @include grid-span($grids,1);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

	@extend .header-img-breaks;

  h1 {
    @include grid-span($grids, 1);
    text-align: center;
    color: $head-text-colour;
    text-decoration: bold;
    max-resolution: 3%;
    line-height: 121%;
    font-size: $h1-hm;
    margin-top: 29%;

    @include breakpoint($mob) {
      font-size: $h1-sm;
      margin-top: 18%;

    }
    @include breakpoint($tab) {
      font-size: $h1-tab;
      margin-top: 18%;

    }
    @include breakpoint($desk) {
      font-size: $h1-desk;
      margin-top: 5%;

    }
    @include breakpoint(1100px) {
      @include grid-span(8, 3);
      font-size: $h1-wide;
      margin-top: 5%;

    }
    @include breakpoint(1600px) {
      @include grid-span(8, 3);
      font-size: $h1-max;
      margin-top: 5%;
      line-height: 148px;

    }

  }
}
