html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img, media {
  max-width: 100%;
}

.block__content {
  color: #fff;
  font-size: 29px;
}

input {
  border: solid 2px #666;
}

h1 {
  font-family: Brandon_Bold;
}

h2 {
  font-family: Brandon_Bold;
  color: white;
  font-size: 61px;
  color: #fff;
}

.section-footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 544px;
  background-color: #fff;
  border-top: solid 9px #018740;
  padding: 50px 0;
}
.section-footer #block-menu-menu-footer {
  width: 23.72881%;
  float: left;
  margin-right: -100%;
  margin-left: 25.42373%;
  clear: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-footer #block-menu-menu-footer a {
  color: #565A5C;
  display: block;
  text-decoration: none;
}
.section-footer #block-menu-menu-footer ul {
  list-style: none;
}
.section-footer #block-menu-menu-footer ul li:first-child {
  font-size: 24px;
  padding: 0px 0px 0px 0px;
  list-style: none;
}
.section-footer #block-menu-menu-footer ul li {
  font-size: 24px;
  padding: 22px 0px 0px 0px;
  list-style: none;
}
.section-footer #block-bean-footer-block {
  width: 32.20339%;
  float: left;
  margin-right: -100%;
  margin-left: 59.32203%;
  clear: none;
}
.section-footer #block-bean-footer-block h2 {
  color: #565A5C;
  padding: 0px 0px 22px 0px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}
.section-footer #block-bean-footer-block .block__content {
  color: #565A5C;
  font-size: 24px;
}
.section-footer #block-bean-footer-block .block__content .field {
  padding: 22px 0px 0px 0px;
}

@media (min-width: 60em) {
  #zone-graphic-header {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    height: 74vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 60em) {
  #zone-graphic-header h1 {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
    text-align: center;
    color: #fff;
    font-size: 100px;
    text-decoration: bold;
    margin-top: 5%;
    line-height: 148px;
  }
}
#zone-graphic-header #btn-home {
  width: 32.20339%;
  float: left;
  margin-right: -100%;
  margin-left: 25.42373%;
  clear: none;
  background: #018740;
}

@media (min-width: 60em) {
  #zone-graphic-first {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin: 0;
    padding: 0;
    height: 589px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #zone-graphic-first #block-bean-por-que-ingles {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    height: 589px;
    background: rgba(239, 118, 11, 0.8);
  }
  #zone-graphic-first #block-bean-por-que-ingles h2 {
    padding: 40px 20px 20px;
    text-align: center;
  }
  #zone-graphic-first #block-bean-por-que-ingles .block__content {
    font-family: Brandon_Reg;
    padding: 20px 20px 20px 20px;
    text-align: left;
    line-height: 41px;
  }
}

@media (min-width: 60em) {
  #zone-graphic-destinos {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin: 0;
    padding: 0;
    height: 589px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #zone-graphic-destinos h2 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    text-align: center;
    width: 100%;
    background-color: rgba(1, 135, 64, 0.8);
  }
}

@media (min-width: 60em) {
  #zone-graphic-third {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin: 0;
    padding: 0;
    height: 589px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #zone-graphic-third #block-bean-por-que-nosotros {
    width: 40.67797%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    height: 589px;
    background: rgba(239, 118, 11, 0.8);
  }
  #zone-graphic-third #block-bean-por-que-nosotros h2 {
    padding: 40px 20px 20px;
    text-align: center;
  }
  #zone-graphic-third #block-bean-por-que-nosotros .block__content {
    font-family: Brandon_Reg;
    padding: 20px 20px 20px 20px;
    text-align: left;
    line-height: 41px;
  }
}

.section-header {
  background-color: #fff;
  height: 48px;
}
@media (min-width: 60em) {
  .section-header {
    display: block;
    height: 197px;
  }
}

.section-branding {
  margin-top: 23.5px;
  margin-left: 40px;
  display: none;
}
@media (min-width: 60em) {
  .section-branding {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
    display: block;
    margin-top: 23.5px;
    margin-left: 40px;
  }
}
.section-branding .site-logo img {
  width: 250px;
  height: 150px;
}

.section-navbar {
  background: #fff;
  overflow: hidden;
  min-height: 197px;
  display: none;
}
@media (min-width: 60em) {
  .section-navbar {
    display: block;
    width: 74.57627%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
.section-navbar #block-system-navigation a {
  color: #565A5C;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
.section-navbar #block-system-navigation ul {
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 160px 0px 0px 0px;
}
.section-navbar #block-system-navigation ul li {
  display: inline-block;
  margin: 0px 6em 0px 0px;
}

.destinos-grid {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin: 0;
  padding: 0;
}
.destinos-grid .views-row {
  height: 47vh;
}
.destinos-grid .views-row h2 a {
  width: 32.20339%;
  float: left;
  margin-right: -100%;
  margin-left: 25.42373%;
  clear: none;
  height: 47vh;
  position: absolute;
  width: 100%;
  color: #fff;
  text-decoration: none;
}
.destinos-grid .views-row img {
  width: 100%;
  height: 47vh;
  object-fit: cover;
}
@media (min-width: 44em) {
  .destinos-grid .views-row {
    float: left;
    width: 100%;
  }
}
@media (min-width: 60em) {
  .destinos-grid .views-row {
    float: left;
    width: 33.33%;
  }
}

@font-face {
  font-family: Brandon_Reg;
  src: url("fonts/brandon_reg.otf");
  font-family: Brandon_Bold;
  src: url("fonts/brandon_bld.otf");
}

/*# sourceMappingURL=irlanda-connection.styles.css.map */
