html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit; }

body {
  margin: 0;
  padding: 0; }

img, media {
  max-width: 100%; }

.block__content {
  color: #fff;
  font-size: 29px; }

.btn-header, .block--bean-contacto-header-button, .block--bean-cotizacion-header {
  position: absolute;
  right: 0;
  line-height: 50px;
  height: 50px;
  width: 200px; }
  .btn-header a, .block--bean-contacto-header-button a, .block--bean-cotizacion-header a {
    font-size: 0.7em; }
    @media (min-width: 1816px) {
      .btn-header a, .block--bean-contacto-header-button a, .block--bean-cotizacion-header a {
        font-size: 1em; } }
  @media (min-width: 1816px) {
    .btn-header, .block--bean-contacto-header-button, .block--bean-cotizacion-header {
      width: 300px; } }

.btn-main, .block--bean-contacto-header-button, .block--bean-cotizacion-header, .bean-head-image .field--name-field-button-link, .bean-head-image #btn-home, .view-blog-teaser-slides .field--name-field-button-link, .view-blog-teaser-slides #btn-home, .section-header-img .field--name-field-button-link, .section-header-img #btn-home, #zone-graphic-header .field--name-field-button-link, #zone-graphic-header #btn-home {
  transition: all 0.3s ease-out;
  border-radius: 2px; }
  .btn-main a, .block--bean-contacto-header-button a, .block--bean-cotizacion-header a, .bean-head-image .field--name-field-button-link a, .bean-head-image #btn-home a, .view-blog-teaser-slides .field--name-field-button-link a, .view-blog-teaser-slides #btn-home a, .section-header-img .field--name-field-button-link a, .section-header-img #btn-home a, #zone-graphic-header .field--name-field-button-link a, #zone-graphic-header #btn-home a {
    font-family: Brandon_Bold;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none; }

.btn-hover-green:hover, .block--bean-contacto-header-button:hover, .bean-head-image .field--name-field-button-link:hover, .bean-head-image #btn-home:hover, .view-blog-teaser-slides .field--name-field-button-link:hover, .view-blog-teaser-slides #btn-home:hover, .section-header-img .field--name-field-button-link:hover, .section-header-img #btn-home:hover, #zone-graphic-header .field--name-field-button-link:hover, #zone-graphic-header #btn-home:hover {
  background-color: #008e43;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.btn-hover-orange, .block--bean-cotizacion-header, .bean-head-image #block-bean-courses-header-image .field--name-field-button-link, .view-blog-teaser-slides #block-bean-courses-header-image .field--name-field-button-link, .section-header-img #block-bean-courses-header-image .field--name-field-button-link, #zone-graphic-header #block-bean-courses-header-image .field--name-field-button-link {
  background-color: #f7941e; }
  .btn-hover-orange:hover, .block--bean-cotizacion-header:hover, .bean-head-image #block-bean-courses-header-image .field--name-field-button-link:hover, .view-blog-teaser-slides #block-bean-courses-header-image .field--name-field-button-link:hover, .section-header-img #block-bean-courses-header-image .field--name-field-button-link:hover, #zone-graphic-header #block-bean-courses-header-image .field--name-field-button-link:hover {
    background-color: #ff9e2b;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.block--bean-contacto-header-button {
  top: 80px;
  background-color: #018740; }

.block--bean-cotizacion-header {
  top: 30px;
  background-color: #f7941e; }

.block--webform .form-item {
  margin-bottom: 0.5em; }
.block--webform .form-type-checkbox {
  padding: 0px 5px 0px 0px; }
.block--webform h1 {
  color: #565A5C;
  font-family: helvetica;
  margin: 0px 0px 20px 0px; }
.block--webform input, .block--webform select {
  border: solid 1px #c5c5c5;
  height: 38px;
  font-size: 18px;
  color: #565A5C;
  padding-left: 16px;
  background-color: #f7f7f7; }
.block--webform textarea {
  border: solid 1px #c5c5c5;
  padding: 16px 16px 16px 16px;
  color: #565A5C;
  font-size: 18px;
  background-color: #f7f7f7; }
.block--webform label {
  color: #565A5C;
  font-family: Brandon_Reg;
  font-size: 18px;
  margin: 0px 0px 3px 0px; }
  .block--webform label .form-required {
    color: #f7941e; }
.block--webform .webform-submit {
  width: 100%;
  background-color: #018740;
  border: none;
  color: #fff; }
.block--webform .webform-submit:hover {
  cursor: pointer; }

h1 {
  font-family: Brandon_Bold; }

h2 {
  font-family: Brandon_Bold;
  color: white;
  font-size: 61px;
  color: #fff;
  text-decoration: none; }

.node-type-blog-entry .block-main-block article {
  max-width: 980px;
  font-family: "Open Sans",open-sans,sans-serif;
  padding: 20px 20px 20px 20px;
  margin: auto;
  font-size: 1em;
  color: #565A5C;
  border-bottom: 0;
  margin-bottom: 0; }
  .node-type-blog-entry .block-main-block article p {
    display: block;
    width: 85%;
    margin: 40px auto;
    line-height: 1.9; }
  .node-type-blog-entry .block-main-block article h2 {
    display: block;
    width: 85%;
    margin: 40px auto;
    font-size: 1em;
    color: #565A5C; }
.node-type-blog-entry #block-bean-blog-post-teaser-head {
  max-width: 980px;
  margin: auto;
  border-top: solid 1px #565A5C; }
  .node-type-blog-entry #block-bean-blog-post-teaser-head h2 {
    font-size: 1.2em;
    color: #565A5C;
    margin: 40px auto; }
.node-type-blog-entry #block-views-blog-block-1-block-2 {
  max-width: 1000px;
  margin: auto; }
  .node-type-blog-entry #block-views-blog-block-1-block-2 .block-blog-teaser {
    width: 50%;
    float: left; }
    .node-type-blog-entry #block-views-blog-block-1-block-2 .block-blog-teaser .blog-img {
      width: 66.10169%;
      float: left;
      margin-right: -100%;
      margin-left: 16.94915%;
      clear: none;
      float: none; }
      .node-type-blog-entry #block-views-blog-block-1-block-2 .block-blog-teaser .blog-img img {
        margin: 0px;
        padding: 0px;
        border: none;
        width: 100%;
        height: 100%;
        max-height: none;
        max-width: none;
        z-index: -999999; }
    .node-type-blog-entry #block-views-blog-block-1-block-2 .block-blog-teaser .blog-txt h1 {
      text-align: center;
      font-size: 20px;
      padding: 9px 0px 20px 0px; }
      .node-type-blog-entry #block-views-blog-block-1-block-2 .block-blog-teaser .blog-txt h1 a {
        text-decoration: none;
        color: #f7941e; }

.view-blog-view .view-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 0px 35px 40px;
  float: none;
  height: 700px; }
  .view-blog-view .view-content .view-blog-post {
    width: 33.33%;
    float: left; }
    .view-blog-view .view-content .view-blog-post .field--name-field-blog-image {
      width: 66.10169%;
      float: left;
      margin-right: -100%;
      margin-left: 16.94915%;
      clear: none;
      float: none; }
      .view-blog-view .view-content .view-blog-post .field--name-field-blog-image a {
        border: none;
        width: 379.2px;
        height: 237px; }
      .view-blog-view .view-content .view-blog-post .field--name-field-blog-image img {
        margin: 0px;
        padding: 0px;
        border: none;
        width: 379.2px;
        height: 237px; }
    .view-blog-view .view-content .view-blog-post .field--name-field-blog-description {
      width: 379.2px;
      text-align: center;
      color: #565A5C;
      padding-bottom: 20px;
      font-family: Brandon_Reg; }
    .view-blog-view .view-content .view-blog-post h1 {
      text-align: center;
      width: 379.2px;
      font-size: 20px;
      padding: 5px 0px 5px 0px; }
      .view-blog-view .view-content .view-blog-post h1 a {
        text-decoration: none;
        color: #f7941e; }
.view-blog-view .pager-load-more {
  width: 15.25424%;
  float: left;
  margin-right: -100%;
  margin-left: 43.64407%;
  clear: none;
  height: 50px;
  float: none; }
  .view-blog-view .pager-load-more .pager-next a {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    line-height: 50px;
    background-color: #f7941e;
    text-decoration: none;
    margin-bottom: 35px;
    color: #fff;
    font-size: 30px;
    font-family: Brandong_Bold;
    box-shadow: 1px 2px 1px #888888; }

.page-contacto, .page-cotizacion {
  background-image: url("http://192.168.99.100/sites/default/files/storage/bg_form.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }
  .page-contacto .section-form, .page-cotizacion .section-form {
    width: 57.62712%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
    background-color: #fff;
    float: none;
    padding: 35px 48px 25px 35px;
    margin: 40px auto 40px auto;
    border: solid 1px #f2f2f2; }
    .page-contacto .section-form h2, .page-cotizacion .section-form h2 {
      font-family: Helvetica;
      font-size: 61px;
      color: #f7941e;
      text-decoration: none; }
  .page-contacto .section-locations .location-txt, .page-cotizacion .section-locations .location-txt {
    margin: 20px 20px 30px 20px; }
    .page-contacto .section-locations .location-txt h3, .page-cotizacion .section-locations .location-txt h3 {
      color: #565A5C;
      text-decoration: none;
      font-size: 20px; }
  .page-contacto .section-locations .location-map .vcard, .page-cotizacion .section-locations .location-map .vcard {
    width: 36.44068%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
    color: #565A5C;
    padding: 133px 181px 0px 0px; }
    .page-contacto .section-locations .location-map .vcard .fn, .page-cotizacion .section-locations .location-map .vcard .fn {
      font-weight: bold; }
    .page-contacto .section-locations .location-map .vcard .street-address, .page-cotizacion .section-locations .location-map .vcard .street-address {
      font-size: 20px; }
    .page-contacto .section-locations .location-map .vcard .country-name, .page-cotizacion .section-locations .location-map .vcard .country-name {
      font-size: 20px; }
  .page-contacto .section-locations .location-map .gmap, .page-cotizacion .section-locations .location-map .gmap {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
    width: 500px;
    height: 400px;
    border: solid 1px #f2f2f2;
    float: none; }

.node-type-cursos .block-course-pg-title {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: #018740;
  height: 70px;
  line-height: 70px; }
  .node-type-cursos .block-course-pg-title .course-pg-title {
    width: 49%;
    float: left; }
    .node-type-cursos .block-course-pg-title .course-pg-title h1 {
      font-size: 44px;
      text-align: right; }
  .node-type-cursos .block-course-pg-title .course-pg-hyphen {
    width: 2%;
    float: left;
    text-align: center; }
    .node-type-cursos .block-course-pg-title .course-pg-hyphen span {
      font-size: 44px; }
  .node-type-cursos .block-course-pg-title .course-pg-classweek {
    width: 49%;
    float: right; }
    .node-type-cursos .block-course-pg-title .course-pg-classweek h2 {
      font-size: 44px;
      text-align: left; }
.node-type-cursos .block-main-block {
  width: 57.62712%;
  float: left;
  margin-right: -100%;
  margin-left: 33.89831%;
  clear: none;
  color: #565A5C;
  font-size: 1.3em;
  padding: 80px 20px 80px 20px;
  z-index: -1;
  line-height: 2em; }
  .node-type-cursos .block-main-block .field {
    padding: 0px 5px 0px 5px; }
.node-type-cursos #block-views-courses-view-block-1 {
  width: 23.72881%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  float: none;
  padding: 120px 20px 120px 20px;
  line-height: 4em;
  z-index: 1;
  border-right: solid 1px #f2f2f2; }
  .node-type-cursos #block-views-courses-view-block-1 .view-content {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
    float: none; }
  .node-type-cursos #block-views-courses-view-block-1 .course-list-comp span a {
    text-decoration: none;
    color: #b1b1b1; }

.course-boxes {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  font-family: helvetica;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; }
  .course-boxes .course-box {
    width: 83.05085%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
    position: relative;
    float: none;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px #E6E6E6;
    height: 262px; }
    @media (min-width: 900px) {
      .course-boxes .course-box {
        height: 304px; } }
    @media (min-width: 1100px) {
      .course-boxes .course-box {
        width: 74.57627%;
        float: left;
        margin-right: -100%;
        margin-left: 12.71186%;
        clear: none;
        float: none; } }
    @media (min-width: 1438px) {
      .course-boxes .course-box {
        width: 57.62712%;
        float: left;
        margin-right: -100%;
        margin-left: 21.18644%;
        clear: none;
        float: none; } }
    .course-boxes .course-box .course-box-label {
      padding-right: 3px; }
    .course-boxes .course-box .course-icon {
      width: 27.9661%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none;
      height: 100%;
      background-color: rgba(239, 118, 11, 0.5); }
      .course-boxes .course-box .course-icon a {
        display: block; }
        .course-boxes .course-box .course-icon a img {
          object-fit: cover;
          width: 100%;
          height: 262px; }
          @media (min-width: 900px) {
            .course-boxes .course-box .course-icon a img {
              width: 100%;
              height: 300px; } }
    .course-boxes .course-box .course-details {
      width: 66.10169%;
      float: left;
      margin-right: -100%;
      margin-left: 29.66102%;
      clear: none;
      float: none;
      padding: 5px 0px 5px 20px; }
      .course-boxes .course-box .course-details .course-box-label {
        font-weight: bold;
        float: left;
        font-size: 1.3em; }
      .course-boxes .course-box .course-details .course-box-content {
        font-size: 1.3em; }
    .course-boxes .course-box .more-info-btn {
      width: 23.72881%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      position: absolute;
      right: 0;
      bottom: 56px;
      background-color: #f7941e;
      color: #fff;
      text-align: center;
      height: 56px;
      margin-top: -56px;
      padding: 0; }
      .course-boxes .course-box .more-info-btn a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        line-height: 56px;
        color: #fff;
        font-size: 1em; }
        @media (min-width: 900px) {
          .course-boxes .course-box .more-info-btn a {
            font-size: 1.2em; } }
        @media (min-width: 1343px) {
          .course-boxes .course-box .more-info-btn a {
            font-size: 1.3em; } }
        @media (min-width: 1640px) {
          .course-boxes .course-box .more-info-btn a {
            font-size: 1.5em; } }
    .course-boxes .course-box .cotizacion-btn {
      width: 23.72881%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #018740;
      color: #fff;
      text-align: center;
      height: 56px;
      margin-top: 0px;
      padding: 0; }
      .course-boxes .course-box .cotizacion-btn a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        line-height: 56px;
        color: #fff;
        font-size: 1em; }
        @media (min-width: 900px) {
          .course-boxes .course-box .cotizacion-btn a {
            font-size: 1.2em; } }
        @media (min-width: 1343px) {
          .course-boxes .course-box .cotizacion-btn a {
            font-size: 1.3em; } }
        @media (min-width: 1640px) {
          .course-boxes .course-box .cotizacion-btn a {
            font-size: 1.5em; } }
    .course-boxes .course-box .course-box-classes-week {
      text-align: center; }
      .course-boxes .course-box .course-box-classes-week div {
        font-weight: bold;
        color: #fff;
        font-size: 33px;
        padding: 100px 20px 20px 20px; }
        @media (min-width: 900px) {
          .course-boxes .course-box .course-box-classes-week div {
            padding: 124px 20px 20px 20px; } }
        @media (min-width: 1110px) {
          .course-boxes .course-box .course-box-classes-week div {
            font-size: 51px;
            padding: 69px 20px 20px 20px; } }
    .course-boxes .course-box .course-box-title {
      font-size: 2rem; }
      @media (min-width: 600px) {
        .course-boxes .course-box .course-box-title {
          font-size: 2rem; } }
      @media (min-width: 1438px) {
        .course-boxes .course-box .course-box-title {
          font-size: 44px; } }
      .course-boxes .course-box .course-box-title a {
        text-decoration: none;
        color: #000;
        font-family: helvetica;
        font-weight: bold; }
    .course-boxes .course-box .course-box-short-desc {
      font-size: 1.3em;
      padding: 7px 0px 10px 20px; }

.destinos-grid {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin: 0;
  padding: 0; }
  .destinos-grid .views-row h2 a {
    text-align: center;
    height: 300px;
    position: absolute;
    color: #fff;
    text-decoration: none; }
  .destinos-grid .views-row img {
    width: 100%;
    object-fit: cover; }
  @media (min-width: 45em) {
    .destinos-grid .views-row {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      height: 300px; }
      .destinos-grid .views-row img {
        height: 300px; }
      .destinos-grid .views-row a {
        width: 100%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none;
        line-height: 300px; } }
  @media (min-width: 60em) {
    .destinos-grid .views-row {
      float: left;
      width: 33.33%;
      height: 400px; }
      .destinos-grid .views-row img {
        height: 400px; }
      .destinos-grid .views-row a {
        width: 33.33%;
        line-height: 400px; } }
  @media (min-width: 1438px) {
    .destinos-grid .views-row {
      float: left;
      width: 33.33%;
      height: 503px; }
      .destinos-grid .views-row img {
        height: 503px; }
      .destinos-grid .views-row a {
        width: 33.33%;
        line-height: 503px; } }

.node-type-destino .tabs--primary {
  display: none; }
.node-type-destino .view-destino-page-view .field--type-image img {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
.node-type-destino .dest-wrap-img .background-image-formatter {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
.node-type-destino .dest-title {
  width: 66.10169%;
  float: left;
  margin-right: -100%;
  margin-left: 16.94915%;
  clear: none;
  margin-top: 280px; }
  .node-type-destino .dest-title h1 {
    font-size: 100px; }
  .node-type-destino .dest-title h2 {
    font-size: 100px; }
.node-type-destino .dest-text {
  width: 66.10169%;
  float: left;
  margin-right: -100%;
  margin-left: 16.94915%;
  clear: none;
  margin-top: 430px; }
.node-type-destino .block--views-destino-page-view-block-2 .dest-title {
  margin-top: 20px; }
.node-type-destino .block--views-destino-page-view-block-2 .dest-text {
  margin-top: 200px; }
.node-type-destino #block-bean-preguntanos-tus-dudas {
  margin: -144px 0px 0px 15%;
  float: left; }
.node-type-destino #block-bean-solicita-ya-tu-cotizacin {
  margin: -144px 15% 0px 0px;
  float: right; }

.section-footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background-color: #fff;
  border-top: solid 9px #018740;
  padding: 20px 0px 0px 0px; }
  @media (min-width: 60em) {
    .section-footer {
      padding: 50px 0; } }
  .section-footer #block-menu-menu-footer {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    font-family: Brandon_Reg;
    display: flex;
    justify-content: center;
    float: none; }
    @media (min-width: 600px) {
      .section-footer #block-menu-menu-footer {
        width: 23.72881%;
        float: left;
        margin-right: -100%;
        margin-left: 16.94915%;
        clear: none;
        flex-direction: column;
        justify-content: center; } }
    @media (min-width: 60em) {
      .section-footer #block-menu-menu-footer {
        width: 23.72881%;
        float: left;
        margin-right: -100%;
        margin-left: 25.42373%;
        clear: none;
        flex-direction: column;
        justify-content: center; } }
    .section-footer #block-menu-menu-footer a {
      color: #565A5C;
      text-decoration: none; }
    .section-footer #block-menu-menu-footer ul {
      list-style: none; }
      .section-footer #block-menu-menu-footer ul li:first-child {
        font-size: 20px;
        padding: 0px 0px 0px 0px;
        list-style: none; }
        @media (min-width: 45em) {
          .section-footer #block-menu-menu-footer ul li:first-child {
            font-size: 24px; } }
      .section-footer #block-menu-menu-footer ul li {
        font-size: 20px;
        padding: 22px 0px 0px 0px;
        list-style: none;
        text-align: center; }
        @media (min-width: 45em) {
          .section-footer #block-menu-menu-footer ul li {
            font-size: 24px;
            text-align: left; } }
        .section-footer #block-menu-menu-footer ul li:hover:nth-child(odd) a {
          color: #018740;
          border-bottom: solid 3px #018740; }
        .section-footer #block-menu-menu-footer ul li:hover:nth-child(even) a {
          color: #f7941e;
          border-bottom: solid 3px #f7941e; }
  .section-footer #block-bean-footer-block {
    width: 83.05085%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
    margin-top: 36px; }
    @media (min-width: 350px) {
      .section-footer #block-bean-footer-block {
        width: 32.20339%;
        float: left;
        margin-right: -100%;
        margin-left: 25.42373%;
        clear: none; } }
    @media (min-width: 600px) {
      .section-footer #block-bean-footer-block {
        width: 23.72881%;
        float: left;
        margin-right: -100%;
        margin-left: 59.32203%;
        clear: none;
        margin-top: 0; } }
    @media (min-width: 60em) {
      .section-footer #block-bean-footer-block {
        width: 23.72881%;
        float: left;
        margin-right: -100%;
        margin-left: 59.32203%;
        clear: none;
        margin-top: 0; } }
    .section-footer #block-bean-footer-block h2 {
      color: #565A5C;
      text-decoration: underline;
      padding: 0px 0px 12px 0px;
      text-align: left;
      font-size: 20px;
      font-weight: bold;
      font-family: Brandon_Reg; }
      @media (min-width: 45em) {
        .section-footer #block-bean-footer-block h2 {
          font-size: 24px;
          margin-left: -10px; } }
    .section-footer #block-bean-footer-block .block__content {
      color: #565A5C;
      font-size: 20px; }
      @media (min-width: 45em) {
        .section-footer #block-bean-footer-block .block__content {
          font-size: 24px; } }
      .section-footer #block-bean-footer-block .block__content a {
        color: #018740; }
      .section-footer #block-bean-footer-block .block__content .field {
        padding: 12px 0px 0px 0px; }
  .section-footer #block-bean-social-media-footer {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-top: 200px; }
    @media (min-width: 60em) {
      .section-footer #block-bean-social-media-footer {
        margin-top: 300px; } }
    .section-footer #block-bean-social-media-footer .social-footer {
      width: 200px;
      margin: 0 auto 0px auto; }
      .section-footer #block-bean-social-media-footer .social-footer .social-icon {
        float: left;
        width: 30px;
        height: 30px;
        overflow: hidden;
        margin: 10px 10px 10px 10px; }
        .section-footer #block-bean-social-media-footer .social-footer .social-icon a {
          display: block;
          width: 30px;
          height: 30px; }
          .section-footer #block-bean-social-media-footer .social-footer .social-icon a img {
            margin-top: 0px; }
            .section-footer #block-bean-social-media-footer .social-footer .social-icon a img:hover {
              margin-top: -30px;
              cursor: pointer; }
  .section-footer #block-bean-copyright-block-footer {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
    text-align: center;
    margin-top: 260px;
    margin-bottom: 20px; }
    @media (min-width: 60em) {
      .section-footer #block-bean-copyright-block-footer {
        width: 32.20339%;
        float: left;
        margin-right: -100%;
        margin-left: 33.89831%;
        clear: none;
        margin-top: 360px; } }
    .section-footer #block-bean-copyright-block-footer p {
      color: #565A5C;
      font-size: 0.5em; }
      @media (min-width: 45em) {
        .section-footer #block-bean-copyright-block-footer p {
          font-size: 0.8em; } }

.block--webform h2 {
  color: #565A5C;
  padding: 0px 0px 22px 0px;
  text-align: left;
  font-size: 12px;
  font-weight: bold; }

.header-img-breaks, .background-image-header, #zone-graphic-header {
  height: 400px; }
  @media (min-width: 60em) {
    .header-img-breaks, .background-image-header, #zone-graphic-header {
      height: 400px; } }
  @media (min-width: 1438px) {
    .header-img-breaks, .background-image-header, #zone-graphic-header {
      height: 600px; } }

.background-image-header {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.bean-head-image, .view-blog-teaser-slides, .section-header-img, #zone-graphic-header {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  float: none;
  position: relative; }
  .bean-head-image .flexslider, .view-blog-teaser-slides .flexslider, .section-header-img .flexslider, #zone-graphic-header .flexslider {
    border: 0; }
  .bean-head-image .field--name-field-header-text, .bean-head-image h1, .view-blog-teaser-slides .field--name-field-header-text, .view-blog-teaser-slides h1, .section-header-img .field--name-field-header-text, .section-header-img h1, #zone-graphic-header .field--name-field-header-text, #zone-graphic-header h1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    text-align: center;
    color: #fff;
    text-decoration: bold;
    max-resolution: 3%;
    line-height: 121%;
    font-size: 2.5em;
    margin-top: 29%; }
    @media (min-width: 600px) {
      .bean-head-image .field--name-field-header-text, .bean-head-image h1, .view-blog-teaser-slides .field--name-field-header-text, .view-blog-teaser-slides h1, .section-header-img .field--name-field-header-text, .section-header-img h1, #zone-graphic-header .field--name-field-header-text, #zone-graphic-header h1 {
        font-size: 3.5em;
        margin-top: 18%; } }
    @media (min-width: 45em) {
      .bean-head-image .field--name-field-header-text, .bean-head-image h1, .view-blog-teaser-slides .field--name-field-header-text, .view-blog-teaser-slides h1, .section-header-img .field--name-field-header-text, .section-header-img h1, #zone-graphic-header .field--name-field-header-text, #zone-graphic-header h1 {
        font-size: 4em;
        margin-top: 18%; } }
    @media (min-width: 1100px) {
      .bean-head-image .field--name-field-header-text, .bean-head-image h1, .view-blog-teaser-slides .field--name-field-header-text, .view-blog-teaser-slides h1, .section-header-img .field--name-field-header-text, .section-header-img h1, #zone-graphic-header .field--name-field-header-text, #zone-graphic-header h1 {
        width: 66.10169%;
        float: left;
        margin-right: -100%;
        margin-left: 16.94915%;
        clear: none;
        font-size: 4.9em;
        margin-top: 5%; } }
    @media (min-width: 1600px) {
      .bean-head-image .field--name-field-header-text, .bean-head-image h1, .view-blog-teaser-slides .field--name-field-header-text, .view-blog-teaser-slides h1, .section-header-img .field--name-field-header-text, .section-header-img h1, #zone-graphic-header .field--name-field-header-text, #zone-graphic-header h1 {
        width: 66.10169%;
        float: left;
        margin-right: -100%;
        margin-left: 16.94915%;
        clear: none;
        font-size: 5.5em;
        margin-top: 5%;
        line-height: 148px; } }
  .bean-head-image .field--name-field-button-link, .bean-head-image #btn-home, .view-blog-teaser-slides .field--name-field-button-link, .view-blog-teaser-slides #btn-home, .section-header-img .field--name-field-button-link, .section-header-img #btn-home, #zone-graphic-header .field--name-field-button-link, #zone-graphic-header #btn-home {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    background: #018740;
    height: 65px;
    line-height: 65px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
    .bean-head-image .field--name-field-button-link a, .bean-head-image #btn-home a, .view-blog-teaser-slides .field--name-field-button-link a, .view-blog-teaser-slides #btn-home a, .section-header-img .field--name-field-button-link a, .section-header-img #btn-home a, #zone-graphic-header .field--name-field-button-link a, #zone-graphic-header #btn-home a {
      font-size: 1em; }
      @media (min-width: 60em) {
        .bean-head-image .field--name-field-button-link a, .bean-head-image #btn-home a, .view-blog-teaser-slides .field--name-field-button-link a, .view-blog-teaser-slides #btn-home a, .section-header-img .field--name-field-button-link a, .section-header-img #btn-home a, #zone-graphic-header .field--name-field-button-link a, #zone-graphic-header #btn-home a {
          font-size: 1em; } }
      @media (min-width: 1210px) {
        .bean-head-image .field--name-field-button-link a, .bean-head-image #btn-home a, .view-blog-teaser-slides .field--name-field-button-link a, .view-blog-teaser-slides #btn-home a, .section-header-img .field--name-field-button-link a, .section-header-img #btn-home a, #zone-graphic-header .field--name-field-button-link a, #zone-graphic-header #btn-home a {
          font-size: 1.2em; } }
    @media (min-width: 60em) {
      .bean-head-image .field--name-field-button-link, .bean-head-image #btn-home, .view-blog-teaser-slides .field--name-field-button-link, .view-blog-teaser-slides #btn-home, .section-header-img .field--name-field-button-link, .section-header-img #btn-home, #zone-graphic-header .field--name-field-button-link, #zone-graphic-header #btn-home {
        width: 32.20339%;
        float: left;
        margin-right: -100%;
        margin-left: 33.89831%;
        clear: none;
        bottom: 15%; } }
  .bean-head-image #block-bean-courses-header-image .field--name-field-button-link a, .view-blog-teaser-slides #block-bean-courses-header-image .field--name-field-button-link a, .section-header-img #block-bean-courses-header-image .field--name-field-button-link a, #zone-graphic-header #block-bean-courses-header-image .field--name-field-button-link a {
    font-size: 0.7em; }
    @media (min-width: 600px) {
      .bean-head-image #block-bean-courses-header-image .field--name-field-button-link a, .view-blog-teaser-slides #block-bean-courses-header-image .field--name-field-button-link a, .section-header-img #block-bean-courses-header-image .field--name-field-button-link a, #zone-graphic-header #block-bean-courses-header-image .field--name-field-button-link a {
        font-size: 1.2rem; } }
    @media (min-width: 60em) {
      .bean-head-image #block-bean-courses-header-image .field--name-field-button-link a, .view-blog-teaser-slides #block-bean-courses-header-image .field--name-field-button-link a, .section-header-img #block-bean-courses-header-image .field--name-field-button-link a, #zone-graphic-header #block-bean-courses-header-image .field--name-field-button-link a {
        font-size: 1.3rem; } }
    @media (min-width: 1438px) {
      .bean-head-image #block-bean-courses-header-image .field--name-field-button-link a, .view-blog-teaser-slides #block-bean-courses-header-image .field--name-field-button-link a, .section-header-img #block-bean-courses-header-image .field--name-field-button-link a, #zone-graphic-header #block-bean-courses-header-image .field--name-field-button-link a {
        font-size: 1em; } }
  .bean-head-image .flex-control-paging, .view-blog-teaser-slides .flex-control-paging, .section-header-img .flex-control-paging, #zone-graphic-header .flex-control-paging {
    z-index: 6;
    bottom: 0; }
    .bean-head-image .flex-control-paging .flex-active, .view-blog-teaser-slides .flex-control-paging .flex-active, .section-header-img .flex-control-paging .flex-active, #zone-graphic-header .flex-control-paging .flex-active {
      background-color: #f7941e; }
    .bean-head-image .flex-control-paging li a, .view-blog-teaser-slides .flex-control-paging li a, .section-header-img .flex-control-paging li a, #zone-graphic-header .flex-control-paging li a {
      background-color: #fff; }

.section-header {
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  height: 48px;
  position: fixed;
  z-index: 1;
  border-bottom: solid 2px #f2f2f2; }
  @media (min-width: 45em) {
    .section-header {
      height: 48px; } }
  @media (min-width: 60em) {
    .section-header {
      display: block;
      height: 183px;
      position: relative;
      border: none; } }
  .section-header .section-branding {
    background-color: #fff; }
    @media (min-width: 60em) {
      .section-header .section-branding {
        width: 220px;
        margin-left: 4%;
        margin-top: 23.5px;
        height: auto;
        float: left;
        margin-right: -100%;
        clear: none;
        display: block; } }
    @media (min-width: 1250px) {
      .section-header .section-branding {
        margin-left: 8%; } }
  .section-header .desk-trigger {
    display: none; }
    @media (min-width: 60em) {
      .section-header .desk-trigger {
        display: block; } }
    @media (min-width: 60em) {
      .section-header .desk-trigger .logo-img a {
        width: 100%;
        position: relative;
        top: 0;
        float: none; } }
  .section-header .mob-trigger {
    display: block; }
    @media (min-width: 60em) {
      .section-header .mob-trigger {
        display: none; } }
    .section-header .mob-trigger .menu-icon, .section-header .mob-trigger .close-icon {
      position: absolute;
      top: 11px;
      left: 14px; }
      .section-header .mob-trigger .menu-icon:hover, .section-header .mob-trigger .close-icon:hover {
        cursor: pointer; }
    .section-header .mob-trigger .close-icon {
      display: none; }
    .section-header .mob-trigger .site-logo {
      display: block;
      width: 140px;
      height: 32px;
      margin: 13px auto; }
      @media (min-width: 320px) {
        .section-header .mob-trigger .site-logo {
          width: 180px;
          margin: 10px auto; } }

.section-navbar {
  overflow: hidden;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  display: none; }
  @media (min-width: 60em) {
    .section-navbar {
      width: 74.57627%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      display: block;
      position: relative;
      height: 183px; } }
  .section-navbar #block-system-navigation ul {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    background-color: #fff; }
    @media (min-width: 60em) {
      .section-navbar #block-system-navigation ul {
        position: absolute;
        bottom: 0;
        height: 31px;
        list-style: none;
        padding: 0px;
        margin: 0px 0px 0px 8%; } }
    .section-navbar #block-system-navigation ul li {
      text-align: center;
      list-style: none; }
      @media (min-width: 60em) {
        .section-navbar #block-system-navigation ul li {
          display: inline-block; } }
      @media (min-width: 900px) {
        .section-navbar #block-system-navigation ul li {
          margin: 0em 3em 0em 0em; } }
      @media (min-width: 1360px) {
        .section-navbar #block-system-navigation ul li {
          margin: 0em 5em 0em 0em; } }
      @media (min-width: 1593px) {
        .section-navbar #block-system-navigation ul li {
          margin: 0em 8em 0em 0em; } }
      .section-navbar #block-system-navigation ul li a {
        color: #565A5C;
        display: block;
        padding: 5px 0px 5px 0px;
        text-decoration: none;
        font-size: 20px;
        font-family: Brandon_bold;
        border-bottom: solid 1px #f2f2f2; }
        @media (min-width: 60em) {
          .section-navbar #block-system-navigation ul li a {
            padding: 0px 0px 0px 0px;
            border-bottom: none; } }
      .section-navbar #block-system-navigation ul li:hover:nth-child(odd) a {
        color: #018740;
        border-bottom: solid 3px #018740; }
      .section-navbar #block-system-navigation ul li:hover:nth-child(even) a {
        color: #f7941e;
        border-bottom: solid 3px #f7941e; }

#zone-graphic-header {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  #zone-graphic-header h1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    text-align: center;
    color: #fff;
    text-decoration: bold;
    max-resolution: 3%;
    line-height: 121%;
    font-size: 2.5em;
    margin-top: 29%; }
    @media (min-width: 600px) {
      #zone-graphic-header h1 {
        font-size: 3.5em;
        margin-top: 18%; } }
    @media (min-width: 45em) {
      #zone-graphic-header h1 {
        font-size: 4em;
        margin-top: 18%; } }
    @media (min-width: 60em) {
      #zone-graphic-header h1 {
        font-size: 4.2em;
        margin-top: 5%; } }
    @media (min-width: 1100px) {
      #zone-graphic-header h1 {
        width: 66.10169%;
        float: left;
        margin-right: -100%;
        margin-left: 16.94915%;
        clear: none;
        font-size: 4.9em;
        margin-top: 5%; } }
    @media (min-width: 1600px) {
      #zone-graphic-header h1 {
        width: 66.10169%;
        float: left;
        margin-right: -100%;
        margin-left: 16.94915%;
        clear: none;
        font-size: 5.5em;
        margin-top: 5%;
        line-height: 148px; } }

#zone-graphic-first, #zone-graphic-third {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin: 0;
  padding: 0;
  height: 300px;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 45em) {
    #zone-graphic-first, #zone-graphic-third {
      height: 400px; } }
  @media (min-width: 1210px) {
    #zone-graphic-first, #zone-graphic-third {
      height: 589px; } }
  #zone-graphic-first #block-bean-por-que-ingles, #zone-graphic-third #block-bean-por-que-ingles {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    @media (min-width: 45em) {
      #zone-graphic-first #block-bean-por-que-ingles, #zone-graphic-third #block-bean-por-que-ingles {
        width: 49.15254%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; } }
    @media (min-width: 1438px) {
      #zone-graphic-first #block-bean-por-que-ingles, #zone-graphic-third #block-bean-por-que-ingles {
        width: 40.67797%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; } }
  #zone-graphic-first #block-bean-por-que-nosotros, #zone-graphic-third #block-bean-por-que-nosotros {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    @media (min-width: 45em) {
      #zone-graphic-first #block-bean-por-que-nosotros, #zone-graphic-third #block-bean-por-que-nosotros {
        width: 49.15254%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
    @media (min-width: 1438px) {
      #zone-graphic-first #block-bean-por-que-nosotros, #zone-graphic-third #block-bean-por-que-nosotros {
        width: 40.67797%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }
  #zone-graphic-first #block-bean-por-que-ingles, #zone-graphic-first #block-bean-por-que-nosotros, #zone-graphic-third #block-bean-por-que-ingles, #zone-graphic-third #block-bean-por-que-nosotros {
    height: 300px;
    background: rgba(239, 118, 11, 0.8); }
    @media (min-width: 45em) {
      #zone-graphic-first #block-bean-por-que-ingles, #zone-graphic-first #block-bean-por-que-nosotros, #zone-graphic-third #block-bean-por-que-ingles, #zone-graphic-third #block-bean-por-que-nosotros {
        height: 400px; } }
    @media (min-width: 1210px) {
      #zone-graphic-first #block-bean-por-que-ingles, #zone-graphic-first #block-bean-por-que-nosotros, #zone-graphic-third #block-bean-por-que-ingles, #zone-graphic-third #block-bean-por-que-nosotros {
        height: 589px; } }
    #zone-graphic-first #block-bean-por-que-ingles h2, #zone-graphic-first #block-bean-por-que-nosotros h2, #zone-graphic-third #block-bean-por-que-ingles h2, #zone-graphic-third #block-bean-por-que-nosotros h2 {
      font-size: 1.5em;
      padding: 31px 0px 0px;
      text-align: center; }
      @media (min-width: 423px) {
        #zone-graphic-first #block-bean-por-que-ingles h2, #zone-graphic-first #block-bean-por-que-nosotros h2, #zone-graphic-third #block-bean-por-que-ingles h2, #zone-graphic-third #block-bean-por-que-nosotros h2 {
          font-size: 32px; } }
      @media (min-width: 1438px) {
        #zone-graphic-first #block-bean-por-que-ingles h2, #zone-graphic-first #block-bean-por-que-nosotros h2, #zone-graphic-third #block-bean-por-que-ingles h2, #zone-graphic-third #block-bean-por-que-nosotros h2 {
          font-size: 51px;
          padding: 40px 20px 20px; } }
      @media (min-width: 1816px) {
        #zone-graphic-first #block-bean-por-que-ingles h2, #zone-graphic-first #block-bean-por-que-nosotros h2, #zone-graphic-third #block-bean-por-que-ingles h2, #zone-graphic-third #block-bean-por-que-nosotros h2 {
          font-size: 61px;
          padding: 40px 20px 20px; } }
    #zone-graphic-first #block-bean-por-que-ingles .block__content, #zone-graphic-first #block-bean-por-que-nosotros .block__content, #zone-graphic-third #block-bean-por-que-ingles .block__content, #zone-graphic-third #block-bean-por-que-nosotros .block__content {
      font-family: Brandon_Reg;
      padding: 20px 20px 20px 20px;
      text-align: left;
      line-height: 29px;
      font-size: 2.5vh; }
      @media (min-width: 423px) {
        #zone-graphic-first #block-bean-por-que-ingles .block__content, #zone-graphic-first #block-bean-por-que-nosotros .block__content, #zone-graphic-third #block-bean-por-que-ingles .block__content, #zone-graphic-third #block-bean-por-que-nosotros .block__content {
          font-size: 1.1em; } }
      @media (min-width: 1210px) {
        #zone-graphic-first #block-bean-por-que-ingles .block__content, #zone-graphic-first #block-bean-por-que-nosotros .block__content, #zone-graphic-third #block-bean-por-que-ingles .block__content, #zone-graphic-third #block-bean-por-que-nosotros .block__content {
          font-size: 2em;
          line-height: 41px; } }

#zone-graphic-destinos {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin: 0;
  padding: 0;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 1210px) {
    #zone-graphic-destinos {
      height: 589px; } }
  #zone-graphic-destinos h2 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    text-align: center;
    font-size: 32px;
    width: 100%;
    background-color: rgba(1, 135, 64, 0.8); }
    @media (min-width: 1210px) {
      #zone-graphic-destinos h2 {
        font-size: 61px; } }

.services-grid {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 0px 35px 40px;
  float: none; }
  .services-grid .service-box {
    width: 360px;
    float: left;
    margin: 20px 20px 20px 20px; }
    .services-grid .service-box .service-img {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      min-height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      overflow: hidden; }
    .services-grid .service-box .service-title {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      text-align: center;
      margin: 10px 0px 0px 0px; }
      .services-grid .service-box .service-title h2 {
        font-size: 24px;
        color: #565A5C; }
    .services-grid .service-box .service-description {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      text-align: center; }
      .services-grid .service-box .service-description h3 {
        font-size: 20px;
        color: #565A5C; }

@font-face {
  font-family: Brandon_Reg;
  src: url("fonts/Brandon_reg.otf"); }
@font-face {
  font-family: Brandon_Bold;
  src: url("fonts/Brandon_bld.otf"); }
