//Header
$head-hg-desk: 183px;
  //Mobile
    $head-hg: 48px;
  //Tablet
    $head-hg-tab: 48px;
$logo-wd-desk: 220px;

//Header Buttons
$btn-header-hg: 50px;
$btn-header-wd: 200px;

//home
  //First wrap
  $home-head-hg-wd: 600px;
  //Desk
  $home-head-hg-desk: 400px;
  //Tablet
  $home-head-hg-sm: 400px;
  //Mobile
  $home-head-hg: 200px;


//navbar
$nav-hg: 31px;
$nav-wd: 80%;

//1550px
$logo-wd-desk-sml: 200px;

//Destinos
  //Width
    $dest_wt_wd: 33.33%;

  //Height
    $dest_hg_wd: 503px;
    $dest_hg_sml: 400px;
    $dest_hg_tab: 300px;

//Courses
$course-box-hg: 304px;

//Blog Teaser
$teaser-width: 379.2px;
$teaser-img-hg: 237px;

//Header Image
$header-hg: 500px;

// Buttons
$btn-home-height: 65px;
$btn-course-height: 65px;
$course-button-height: 56px;
$btn-rad: 2px;
$color-trans: all .3s ease-out;

// Wrappers
$wrapper: 589px;
$wrapper-sm: 300px;
$wrapper-tab: 400px;
