//Header
$head-hg-desk: 222px;
$home-head-hg: 600px;
$head-hg: 48px;

//Destinos
$dest_hg: 503px;

//Courses
$course-box-hg: 300px;

//Blog Teaser
$teaser-width: 379.2px;
$teaser-img-hg: 237px;

//Header Image
$header-hg: 500px;

// Buttons
$btn-home-height: 65px;
$btn-course-height: 65px;
$course-button-height: 56px;

// Wrappers
$wrapper: 589px;
