//Header
$head-hg-desk: 183px;
$home-head-hg: 600px;
$head-hg: 48px;
$logo-wd-desk: 220px;

//navbar
$nav-hg: 31px;
$nav-wd: 80%;

//1550px
$logo-wd-desk-sml: 200px;

//Destinos
$dest_hg: 503px;

//Courses
$course-box-hg: 300px;

//Blog Teaser
$teaser-width: 379.2px;
$teaser-img-hg: 237px;

//Header Image
$header-hg: 500px;

// Buttons
$btn-home-height: 65px;
$btn-course-height: 65px;
$course-button-height: 56px;
$btn-rad: 2px;
$color-trans: all .3s ease-out;

// Wrappers
$wrapper: 589px;
$wrapper-sm: 400px;
