//Links color
$link: #565A5C;

//Main text Color
$text: #565A5C;

//Maing BG color - white
$mainbg: #fff;

//Footer
$footerbg: #fff;

$maingreen: #018740;
$maingreen_opacity: rgba(1, 135, 64, 0.8);

$white: #fff;