// Links colour
$link: #565A5C;

// Main text colour
$text: #565A5C;

// Maing BG colour - white
$mainbg: #F0F0F0;

//NavBar BG colour
$navbar-colour: #fff;
$branding-colour: #fff;

//Buttons
$btn-txt: #fff;

//Borders 
$main-border-colour: #f2f2f2;
$form-input-colour: #c5c5c5; 

//Header Image
$head-text-colour: #fff;

//Services
$service-title-colour: #000;

//Forms
$input-bg-colour: #f7f7f7;

//Course Boxes
$course-box-page: #f0f0f0;
$course-box-bg: #fff;
$course-box-border: #E6E6E6; 
$course-box-title: #000;
$course-box-classes: #fff;
$course-box-link: #fff;

// Footer
$footerbg: #fff;

// Main Branding colours
$maingreen: #018740;
$maingreen_opacity: rgba(1, 135, 64, 0.8);
$mainorange: #EF760B;
$mainorange_opacity: rgba(239, 118, 11, 0.8);
$courseorange_opacity: rgba(239, 118, 11, 0.5);

$white: #fff;
$black: #000;