// Navigation spacing
$navmargin: 0px 0px 0px 88px;

// menu
$menupadding: 170px 37px 0px 49px;

// Buttons
$btn-home-height: 65px;
$course-button-height: 56px;

// Body Spacing
$bodymargin: 0;
$bodypadding: 0;

// Wrappers
$wrapper: 589px;
$wrap-text: 20px 20px 20px 20px;
$wrap-h2: 40px 20px 20px;
$wrap-line: 41px;

//Forms
$form-padd: 35px 48px 25px 35px;
$form-box-mar: 40px auto 40px auto;
$form-title-mar: 0px 0px 20px 0px;
$form-textarea-padd: 16px 16px 16px 16px;
$form-label-mar: 0px 0px 3px 0px;
$form-check-padd: 0px 5px 0px 0px;

//Locations
$location-mar: 20px 20px 30px 20px;
$location-address-pad: 133px 181px 0px 0px;

//Services Grid
$service-grid-mar: 20px 20px 20px 20px;
$service-box-mar: 20px 20px 20px 20px;
$service-title-mar: 10px 0px 0px 0px;

//Courses Boxes
$course-box-mar: 20px;
$course-box-title-pad: 5px 0px 5px 0px;
$short-description-pad: 7px 0px 10px 20px;
$course-box-details-pad: 5px 0px 5px 20px;
$course-more-margin: -56px;
$course-cotizacion-margin: 0px;
$course-classes-pad: 86px 20px 20px 20px;

//Blog Teasers Boxes
$view-content-pad: 35px 0px 35px 40px;
$view-post-pad: 20px;
$post-tea-title: 5px 0px 5px 0px;
$ver-mas-mar: 35px;

// Footer
$footer: 544px; 