// Navigation spacing
$navmargin: 0px 0px 0px 88px;

//Branding
$branding-mar: 23.5px 40px 0px 0px;
$branding-mar-desk: 23.5px 10% 0px 0px;

// menu - navbar
$menupadding: 178px 37px 0px 49px;
$navmargin: 0px 0px 0px 8%;
$nav-comp-mar: 0px 0px 0px 0px;

// Buttons
$btn-course-marg: -30px 30px 55px 30px;
$btn-course-right-mar: 60px;

// Body Spacing
$bodymargin: 0;
$bodypadding: 0;

// Wrappers
$wrap-text: 20px 20px 20px 20px;
$wrap-h2: 40px 20px 20px;
$wrap-line: 41px;

//Forms
$form-padd: 35px 48px 25px 35px;
$form-box-mar: 40px auto 40px auto;
$form-title-mar: 0px 0px 20px 0px;
$form-textarea-padd: 16px 16px 16px 16px;
$form-label-mar: 0px 0px 3px 0px;
$form-check-padd: 0px 5px 0px 0px;

//Destino Page
$dest-title-mar: 280px;
$dest-text-mar: 430px;

//Last Wrap
$dest-title-last-mar: 20px;
$dest-text-last-mar: 200px;
$btn-dest-lef-mar: -144px 0px 0px 15%;
$btn-dest-rig-mar: -144px 15% 0px 0px;

//Locations
$location-mar: 20px 20px 30px 20px;
$location-address-pad: 133px 181px 0px 0px;

//Services Grid
$service-grid-mar: 20px 20px 20px 20px;
$service-box-mar: 20px 20px 20px 20px;
$service-title-mar: 10px 0px 0px 0px;

//Blog Post
$article-padd: 20px 20px 20px 20px;
$post-blog-teaser-padd: 9px 0px 20px 0px;
$post-text-mar: 40px auto;

//Courses Boxes
$course-box-mar: 20px;
$course-box-title-pad: 5px 0px 5px 0px;
$short-description-pad: 7px 0px 10px 20px;
$course-box-details-pad: 5px 0px 5px 20px;
$course-more-margin: -56px;
$course-cotizacion-margin: 0px;
$course-classes-pad: 86px 20px 20px 20px;

//Course List
$course-list-padd: 120px 20px 120px 20px;
$course-content-padd: 80px 20px 80px 20px;
$course-field-padd: 0px 5px 0px 5px;

//Blog Teasers Boxes
$view-content-pad: 35px 0px 35px 40px;
$view-post-pad: 20px;
$post-tea-title: 5px 0px 5px 0px;
$ver-mas-mar: 35px;

// Footer
$social-box-mar: 300px;
$social-mar: 0 auto 0px auto;
$copy-box-mar: 360px;
$ft-contact-padd: 12px 0px 0px 0px;
$sm-btn-mar: 10px 10px 10px 10px;
