// Navigation spacing
$navmargin: 0px 0px 0px 88px;

// menu
$menupadding: 170px 37px 0px 49px;

// Body Spacing
$bodymargin: 0;
$bodypadding: 0;

// Wrappers
$wrapper: 589px;
$wrap-text: 20px 20px 20px 20px;
$wrap-h2: 40px 20px 20px;
$wrap-line: 41px;

// Footer
$footer: 544px; 