$base-font-size: 16px;

// Headers
$h1: 100px;
//Home
  //H1
    $h1-max: 5.5em;
    $h1-wide: 4.9em;
    $h1-tab: 4em;
    $h1-sm: 3.5em;
    $h1-hm: 2.5em;
  //H2
    $h2-max: 61px;
    $h2-wd: 51px;
    $h2-sml: 32px;
    $h2-hm: 1.5em;

//Orange Boxes on Home page text
$box-txt-sm: 1.1em;
$box-txt-wd: 2em;
$box-txt: 2.5vh;

$h2: 45px;

//Nav bar
$nav-link: 20px;

// Buttons
//Home
$btn-hm-txt-wd: 1.5vw;
  //tablet
  $btn-hm-txt: 3.5vw;
  //mobile
//Cotizacion btn header-hg
$btn-cot-height: 30px;

$ver-mas-line: 50px;
$btn-mas-size: 30px;

//Courses Page
$course-title: 44px;
$course-classes-txt: 51px;
$course-box-font: 1.3em;

//Destino Page
$dest-title: 100px;
$dest-text: 45px;

//Blog Teaser Page
$blog-teaser-title: 20px;

//Forms
$form-label-txt: 18px;
$form-input-txt: 18px;

//Locations
$loca-main-txt: 20px;
$loca-address-txt: 20px;

//Footer
$foot-links: 24px;
$foot-links-sm: 20px;
$copy-txt: 0.8em;
$copy-txt-sm: 0.5em;
