$base-font-size: 16px;

// Headers
$h1: 100px;
$h2: 45px;

//Nav bar
$nav-link: 21px;

// Buttons
$btn-home-txt: 1.5vw;
$ver-mas-line: 50px;
$btn-mas-size: 30px;

//Courses Page
$course-title: 44px;
$course-classes-txt: 51px;
$course-box-font: 1.3em;

//Destino Page
$dest-title: 100px;
$dest-text: 45px;

//Blog Teaser Page
$blog-teaser-title: 20px;

//Forms
$form-label-txt: 18px;
$form-input-txt: 18px;

//Locations
$loca-main-txt: 20px;
$loca-address-txt: 20px;

//Footer
$foot-links: 24px;
$copy-txt: 0.8em;
