$base-font-size: 16px;

// Headers
$h1: 100px;
$h2: 45px;

// Buttons
$btn-home-txt: 30px;
$ver-mas-line: 50px;
$btn-mas-size: 30px;

//Courses Page
$course-title: 44px;
$course-classes-txt: 51px;
$course-box-font: 1.3em;

//Blog Teaser Page
$blog-teaser-title: 20px;

//Footer
$foot-links: 24px;



