#zone-graphic-first, #zone-graphic-third {
  @include grid-span($grids,1);
  margin: 0;
  padding: 0;
  height: $wrapper-sm;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint($tab) {
    height: $wrapper-tab;

  }
  @include breakpoint($hm-bp-sml) {
    height: $wrapper;

  }

  //Specific bp and grids
  #block-bean-por-que-ingles {
    @include grid-span($grids, 1);

    @include breakpoint($tab) {
      @include grid-span(6, 1);
    }
    @include breakpoint($hm-bp-wd) {
      @include grid-span(5, 1);

    }

  }
  #block-bean-por-que-nosotros{
    @include grid-span($grids, 1);

    @include breakpoint($tab) {
      @include grid-span(6, 7);

    }
    @include breakpoint($hm-bp-wd) {
      @include grid-span(5,8);

    }

  }

  //Boxes common sets
  #block-bean-por-que-ingles, #block-bean-por-que-nosotros {
    height: $wrapper-sm;
    background: $mainorange_opacity;

    @include breakpoint($tab) {
      height: $wrapper-tab;

    }
    @include breakpoint($hm-bp-sml) {
      height: $wrapper;

    }

    h2 {
      font-size: $h2-hm;
      padding: $wrap-hm-h2;
      text-align: center;

      @include breakpoint($hm-bp-box-txt) {
        font-size: $h2-sml;

      }
      @include breakpoint($hm-bp-wd) {
        font-size: $h2-wd;
        padding: $wrap-hm-h2-wd;

      }
      @include breakpoint($hm-bp-max) {
        font-size: $h2-max;
        padding: $wrap-hm-h2-wd;

      }

    }

    .block__content {
      font-family: Brandon_Reg;
      padding: $wrap-hm-text;
      text-align: left;
      line-height: $wrap-line-sm;
      font-size: $box-txt;

      @include breakpoint($hm-bp-box-txt) {
        font-size: $box-txt-sm;
      }
      @include breakpoint($hm-bp-sml) {
        font-size: $box-txt-wd;
        line-height: $wrap-line;

      }
    }
  }
}

#zone-graphic-destinos {
  @include grid-span($grids,1);
  margin: 0;
  padding: 0;
  height: $wrapper-sm;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint($hm-bp-sml) {
    height: $wrapper;

  }

  h2 {
    @include grid-span($grids,1);
    text-align: center;
    font-size: $h2-sml;
    width: 100%;
    background-color: $maingreen_opacity;

    @include breakpoint($hm-bp-sml) {
      font-size: $h2-max;

    }
  }
}
