.page-contacto, .page-cotizacion{
	background-image:url('http://192.168.99.100/sites/default/files/storage/bg_form.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;

	.section-form{
		@include grid-span(7,4);
		background-color: $white;
		float: none;
		padding: $form-padd;
		margin: $form-box-mar;
		border: solid 1px $main-border-colour;

		h2{
			font-family: Helvetica;
			font-size: 61px;
			color: $mainorange;
			text-decoration: none;

		}

	}

	.section-locations{
		.location-txt{
			margin: $location-mar;

			h3{
				color: $text;
				text-decoration: none;
				font-size: $loca-main-txt;

			}
		}
		.location-map{
			.vcard{
				@include grid-span(4.5,2);
				color: $text;
				padding: $location-address-pad;

				.fn{
					font-weight: bold;

				}

				.street-address{
					font-size: $loca-address-txt;

				}
 	
				.country-name{
					font-size: $loca-address-txt;

				}

			}

			.gmap{
				@include grid-span(3,7);
				width: 500px;
				height: 400px;
				border: solid 1px $main-border-colour;
				float: none;

			}

		}

	}
}