body{
	margin: $bodymargin;
	padding: $bodypadding;

}
img, media {
  max-width: 100%;
  

}
.section-branding{
    width: 36.70886%;
    float: left;
    margin-right: 1.26582%;
    max-width: 250px;
    max-height: 150px;
    
}
.section-header{
    width: 100%;
    height: 197px;
    background-color: $mainbg;
}
#zone-graphic-header{
  min-height: 700px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;

}

