#block-bean-cotizacion-header {
  position: absolute;
  top: 20;
  right: 0;

  @include breakpoint($desk) {
    width: 350px;
    height: 50px;
    background-color: $mainorange;

  }

  a {
    font-family: Brandon_Reg;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 50px;
    color: $btn-txt;
    text-decoration: none;
    font-size: $btn-hm-txt;

    @include breakpoint($desk) {
      font-size: $btn-hm-txt-wd;

    }
  }
}

#block-bean-contacto-header-button {

}
