.btn-header {
  position: absolute;
  right: 0;
  line-height: 50px;
  height: 50px;

  @include breakpoint($hm-bp-sml) {
    width: 200px;

  }
  @include breakpoint($desk) {
    width: 300px;

  }
}

.btn-main {
  transition: $color-trans;
  border-radius: $btn-rad;

  a {
    font-family: Brandon_Bold;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    color: $btn-txt;
    text-decoration: none;
    font-size: $btn-hm-txt;

    @include breakpoint($desk) {
      font-size: $btn-hm-txt-wd;

    }
  }
}

.btn-hover-green {
  &:hover {
    background-color: $btn-green-hov;
    box-shadow: $btn-shadow-ho;

  }
}

.btn-hover-orange {
  &:hover {
    background-color: $btn-oran-hov;
    box-shadow: $btn-shadow-ho;

  }
}

//Contacto Button Header
.block--bean-contacto-header-button {
  top: 70px;
  background-color: $maingreen;

  @extend .btn-header;
  @extend .btn-main;
  @extend .btn-hover-green;

}

//Quotation Button Header
.block--bean-cotizacion-header {
  top: 20px;
  background-color: $mainorange;

  @extend .btn-header;
  @extend .btn-main;
  @extend .btn-hover-orange;

}
