.block--webform{

	.form-item{
		margin-bottom: 0.5em;

	}
	.form-type-checkbox{
		padding: $form-check-padd;

	}
	h1{
		color: $text;
		font-family: helvetica;
		margin: $form-title-mar;
		
	}
	input{
		border: solid 1px $form-input-colour;
		height: 38px;
		font-size: $form-input-txt;
		color: $text;
		padding-left: 16px;
		background-color: $input-bg-colour;

	}
	textarea{
		border: solid 1px $form-input-colour;
		padding: $form-textarea-padd;
		color: $text;
		font-size: $form-input-txt;
		background-color: $input-bg-colour;

	}
	label{
		color: $text;
		font-family: Brandon_Reg;
		font-size: $form-label-txt;
		margin: $form-label-mar;

		.form-required{
			color: $mainorange;

		}
	}
	.webform-submit{
		width: 100%;
		background-color: $maingreen;
		border: none;
		color: $btn-txt;

	}
	.webform-submit:hover{
		cursor: pointer;

	}
}