.node-type-cursos{
	.section-main {
	  @include grid-span($grids, 1);

	  .section-content {
			max-width: 1350px;
			margin-left: auto;
			margin-right: auto;

	  }
	}

	.header-img-breaks {
	  height: 300px;

	  @include breakpoint($desk) {
	    height: 350px;

	  }
		@include breakpoint($hm-bp-wd) {
			height: 350px;

		}
	}
	//Course Page Title Section
	.block-course-pg-title{
		@include grid-span(12,1);
		background-color: $maingreen;
		height: 70px;
		line-height: 70px;

		//Course Title Font Size
		@mixin pg-title-size {
			font-size: .6em;

			@include breakpoint(450px) {
				font-size: .8em;

			}

			@include breakpoint(550px) {
				font-size: 1em;

			}
			@include breakpoint($desk){
				font-size:  $course-title;

			}
		}
		.course-pg-title{

			h1{
				width: 100%;
				text-align: right;
				margin: 0;
				padding: 0;
				line-height: 70px;
				word-wrap: break-word;

				@include pg-title-size;
			}
		}
		.course-pg-hyphen{
			text-align: center;

			div{
				@include pg-title-size;
				line-height: 70px;

			}
		}
		.course-pg-classweek{

			h2{
				text-align: left;

				@include pg-title-size;
			}
		}
	}

	//Side bar with course List
	.l-region--sidebar-first{
		@include grid-span($grids, 1);
		width: 350px;
		line-height: 4em;
		z-index: 1;
		display: none;
		font-size: .2em;

		@include breakpoint($desk) {
			@include grid-span(3, 1);
			padding: 45px 45px 45px 22px;
			display: block;

		}

		.course-list-comp{
			padding: 0px 45px 0px 20px;

			@include breakpoint(1200px) {
				padding: 0px 45px 0px 45px;

			}
			span{
				line-height: 2em;

				a{
					text-decoration: none;
					color: $light-text;
					text-transform: uppercase;
					font-size: .9rem;

					@include breakpoint(900px) {
						font-size: .8rem;

					}
					@include breakpoint(1300px) {
						font-size: 1rem;

					}
				}
			}
		}
	}

	//Block Main Descrition Section
	.region-main-content{
		@include grid-span($grids, 1);
		color: $text;
		font-size: .8em;
		z-index: -1;
		line-height: 2em;
		padding: 0px;
		border-left: solid 1px $main-border-colour;

		@include breakpoint(635px) {
			font-size: 1em;

		}
		@include breakpoint(800px) {
			font-size: 1.3em;

		}
		@include breakpoint($desk) {
			@include grid-span(8,4);
			padding: 45px;

		}
		.field{
			padding: $course-field-padd;

			.field__label {
				font-family: Brandon_Bold;

			}
		}

		.node__content {
			padding: 45px 45px 45px 45px;

			@include breakpoint($desk) {
				padding: 0px 45px 45px 45px;

			}
		}
		.bean-button {
			height: 80px;

			a {
				line-height: 80px;

			}
		}
		.block--bean-preguntanos-tus-dudas {
			float: left;

		  @extend .btn-main;
			@extend .btn-course-page;
		  @extend .btn-hover-green;

		}
		.block--bean-solicita-ya-tu-cotizacin {
			float: right;

		  @extend .btn-main;
			@extend .btn-course-page;
		  @extend .btn-hover-orange;

		}
	}
}
