.course-boxes{
	@include grid-span($grids,1);
	font-family: helvetica;
	margin: 0;
	padding: 0;
	background-color: $course-box-page;
	
	.course-box{
		@include grid-span(7,3.5);
		position: relative;
		float: none;
		background-color: $course-box-bg;
		margin-top: $course-box-mar;
		margin-bottom: $course-box-mar;
		border: solid 1px $course-box-border;
		height: $course-box-hg;

		.course-box-label{
			padding-right: 3px;

		}
		.course-icon{
			@include grid-span(3.5,1);
			height: 100%;
			background-color: $courseorange_opacity;

			img{
				object-fit: cover;
   				width: 100%;

			}

			div{
				
			}
		}
		.course-details{
			@include grid-span(8,4.5);
			float: none;
			padding: $course-box-details-pad;
			
				.course-box-label{
					font-weight: bold;
					float: left;
					font-size: $course-box-font;

				}
				.course-box-content{
					font-size: $course-box-font;

				}
		}
		.more-info-btn{
			@include grid-span(3, 10);
			position: absolute;
			right: 0;
			bottom: $course-button-height;
			background-color: $mainorange;
			color: $btn-txt;
			text-align: center;
			height: $course-button-height;
			margin-top: $course-more-margin;
			padding: 0;

			a{
				display: block;
				width: 100%;
				height: 100%;
				text-decoration: none;
				font-size: 1.5em;
				line-height: $course-button-height;
				color: $course-box-link;

			}

		}
		.cotizacion-btn{
			@include grid-span(3, 10);
			position: absolute;
			right: 0;
			bottom: 0;
			background-color: $maingreen;
			color: $btn-txt;
			text-align: center;
			height: $course-button-height;
			margin-top: $course-cotizacion-margin;
			padding: 0;

			a{
				display: block;
				width: 100%;
				height: 100%;
				text-decoration: none;
				font-size: 1.5em;
				line-height: $course-button-height;
				color: $course-box-link;

			}
		}
		.course-box-classes-week{
			text-align: center;

			div{
				font-weight: bold;
				color: $course-box-classes;
				font-size: $course-classes-txt;
				padding: $course-classes-pad;

			}
		}
		.course-box-title{
			a{
				text-decoration: none;
				color: $course-box-title;
				font-size: $course-title;
				font-family: helvetica;
				font-weight: bold;

			}
		}
		.course-box-short-desc{
			font-size: $course-box-font;
			padding: $short-description-pad;

		}
		.course-box-level{

		}
	}
}