.node-type-cursos{
	.section-main {
	  @include grid-span($grids, 1);

	  .section-content {
	    max-width: 1350px;
	    margin-left: auto;
	    margin-right: auto;

	  }
	}

	.header-img-breaks {
	  height: $home-head-hg-sm;

	  @include breakpoint($desk) {
	    height: 350px;

	  }
		@include breakpoint($hm-bp-wd) {
			height: 350px;

		}
	}
	//Course Page Title Section
	.block-course-pg-title{
		@include grid-span(12,1);
		background-color: $maingreen;
		height: 70px;
		line-height: 70px;

		.course-pg-title{
			width: 49%;
			float: left;

			h1{
				width: 100%;
				font-size: $course-title;
				text-align: right;
				margin: 0;
				padding: 0;
				line-height: 70px;

			}
		}
		.course-pg-hyphen{
			width: 2%;
			float: left;
			text-align: center;

			span{
				font-size: $course-title;

			}
		}
		.course-pg-classweek{
			width: 49%;
			float: right;

			h2{
				font-size: $course-title;
				text-align: left;

			}
		}
	}

	//Side bar with course List
	.l-region--sidebar-first{
		@include grid-span(3,1);
		padding: 45px 1em 45px 1em;
		line-height: 4em;
		z-index: 1;

		.course-list-comp{
			span{
				a{
					text-decoration: none;
					color: $light-text;
					text-transform: uppercase;

				}
			}
		}
	}

	//Block Main Descrition Section
	.region-main-content{
		@include grid-span(8,4);
		color: $text;
		font-size: 1.3em;
		z-index: -1;
		line-height: 2em;
		padding: 45px;
		border-left: solid 1px $main-border-colour;

		.field{
			padding: $course-field-padd;

			.field__label {
				font-family: Brandon_Bold;

			}
		}

		.node__content {
			padding: 0px 0px 45px 0px;

		}
		.bean-button {
			height: 80px;

			a {
				line-height: 80px;

			}
		}
		.block--bean-preguntanos-tus-dudas {
			width: 50%;
			float: left;
			border-radius: 0px;

		  @extend .btn-main;
		  @extend .btn-hover-green;

		}
		.block--bean-solicita-ya-tu-cotizacin {
			width: 50%;
			float: right;
			border-radius: 0px;

		  @extend .btn-main;
		  @extend .btn-hover-orange;

		}
	}
}
