.section-footer{
	@include grid-span($grids,1);
	background-color: $footerbg;
	border-top: solid 9px $maingreen;
	padding: 50px 0;

	#block-menu-menu-footer{
		@include grid-span(3,4);
		display: flex;
		flex-direction: column;
		justify-content: center;

		a{
			color: $text;
			display: block;
			text-decoration: none;

		}
		ul{
			list-style: none;

			li:first-child{
				font-size: $foot-links;
				padding: 0px 0px 0px 0px;
				list-style: none;

			}
			li{
				font-size: $foot-links;
				padding: 22px 0px 0px 0px;
				list-style: none;

			}
		}

	}
	#block-bean-footer-block{
		@include grid-span(4,8);

		h2{
			color: $mainorange;
			margin-left: -10px;
			text-decoration: underline;
			padding: 0px 0px 12px 0px;
			text-align: left;
			font-size: $foot-links;
			font-weight: bold;
			font-family: Brandon_Reg;

		}
		.block__content{
			color: $text;
			font-size: $foot-links;

			.field{
				padding: $ft-contact-padd;

			}
		}
	}

	//Social Media Area - Footer
	#block-bean-social-media-footer{
		@include grid-span($grids,1);	
		margin-top: $social-box-mar;

		.social-footer{
			width: 200px;
			margin: $social-mar;

			.social-icon{
			    float: left;
			    width: 30px;
			    height: 30px;
			    overflow: hidden;
			    margin: $sm-btn-mar;

			    a{
		    	    display: block;
				    width: 30px;
				    height: 30px;

				    img{
				    	margin-top: 0px;

				    	&:hover{
				    		margin-top: -30px;
				    		cursor: pointer;

			    		}

				    }

			    }

			}
		}	
	}

	//Copyright Bar
	#block-bean-copyright-block-footer{
		@include grid-span(4,5);
		text-align: center;
		margin-top: $copy-box-mar;

		p{	
			color: $text;
			font-size: $copy-txt;

		}

	}

}
