#zone-graphic-header{
  @include breakpoint($desk) {
    @include grid-span(12,1);
    //height: 700px;
    height: 74vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  h1{
    @include breakpoint($desk) {
      @include grid-span(8,3);
      text-align: center;
      color: $white;
      font-size: 100px;
      text-decoration: bold;
      margin-top: 5%;
      line-height: 148px;

    }
  }
  #btn-home{
    @include grid-span(4,4);
    background: $maingreen;

  }
}

#zone-graphic-first {
  @include breakpoint($desk) {
    @include grid-span(12,1);
    margin: 0;
    padding: 0;
    height: $wrapper;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    #block-bean-por-que-ingles{
      @include grid-span(4,1);
      height: $wrapper;
      background: $mainorange_opacity;

      h2{
        padding: $wrap-h2;
        text-align: center;

      }
      .block__content{
        font-family: Brandon_Reg;
        padding: $wrap-text;
        text-align: left;
        line-height: $wrap-line;

      }
    }
  }
}

#zone-graphic-destinos {
  @include breakpoint($desk) {
    @include grid-span(12,1);
    margin: 0;
    padding: 0;
    height: $wrapper;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    h2{
      @include grid-span(12,1);
      text-align: center;
      width: 100%;
      background-color: $maingreen_opacity; 
      
    }
  }
}

#zone-graphic-third {
  @include breakpoint($desk) {
    @include grid-span(12,1);
    margin: 0;
    padding: 0;
    height: $wrapper;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    #block-bean-por-que-nosotros{
      @include grid-span(5,8);
      height: $wrapper;
      background: $mainorange_opacity;

      h2{
        padding: $wrap-h2;
        text-align: center;
        
      }
      .block__content{
        font-family: Brandon_Reg;
        padding: $wrap-text;
        text-align: left;
        line-height: $wrap-line;

      }
    }
  }
}
