.section-footer{
	@include grid-span($grids,1);
	background-color: $footerbg;
	border-top: none;
	padding: 20px 0px 0px 0px;
	border-top: solid 2px #f2f2f2;

	@include breakpoint($desk) {
		padding: 50px 0;
		border-top: solid 9px $maingreen;
	}

	// Nav Footer
	#block-menu-menu-footer{
		@include grid-span($grids, 1);
		font-family: Brandon_Reg;
		display: flex;
		justify-content: center;
		float: none;

		@include breakpoint($mob) {
			@include grid-span(3, 3);
			flex-direction: column;
			justify-content: center;

		}
		@include breakpoint($desk) {
			@include grid-span(3, 4);
			flex-direction: column;
			justify-content: center;

		}

		a{
			color: $text;
			text-decoration: none;

		}
		ul{
			list-style: none;

			li:first-child{
				font-size: $foot-links-sm;
				padding: 0px 0px 0px 0px;
				list-style: none;

				@include breakpoint($tab) {
					font-size: $foot-links;

				}
			}
			li{
				font-size: $foot-links-sm;
				padding: 22px 0px 0px 0px;
				list-style: none;
				text-align: center;

				@include breakpoint($tab) {
					font-size: $foot-links;
					text-align: left;

				}

				&:hover {
					&:nth-child(odd) {
							a {
								color: $maingreen;
								border-bottom: solid 3px $maingreen;

							}
						}
				}
				&:hover {
					&:nth-child(even) {
						a {
							color: $mainorange;
							border-bottom: solid 3px $mainorange;

						}
					}
				}
			}
		}

	}

	//Contactanos Footer
	#block-bean-footer-block {
		@include grid-span(10, 2);
		margin-top: 36px;

		@include breakpoint(350px) {
			@include grid-span(4, 4);

		}
		@include breakpoint($mob) {
			@include grid-span(3, 8);
			margin-top: 0;

		}
		@include breakpoint($desk) {
			@include grid-span(3, 8);
			margin-top: 0;

		}

		h2 {
			color: $text;
			text-decoration: underline;
			padding: 0px 0px 12px 0px;
			text-align: left;
			font-size: $foot-links-sm;
			font-weight: bold;
			font-family: Brandon_Reg;

			@include breakpoint($tab) {
				font-size: $foot-links;
				margin-left: -10px;

			}

		}
		.block__content {
			color: $text;
			font-size: $foot-links-sm;

			@include breakpoint($tab) {
				font-size: $foot-links;

			}
			a {
				color: $maingreen;

			}
			.field {
				padding: $ft-contact-padd-wd;

			}
		}
	}

	//Social Media Area - Footer
	#block-bean-social-media-footer {
		@include grid-span($grids,1);
		margin-top: 250px;

		@include breakpoint($mob){
			margin-top: 270px;

		}
		@include breakpoint($desk) {
			margin-top: 300px;

		}

		.social-footer{
			width: 200px;
			margin: $social-mar;

			.social-icon{
			    float: left;
			    width: 30px;
			    height: 30px;
			    overflow: hidden;
			    margin: $sm-btn-mar;

			    a{
		    	  display: block;
				    width: 30px;
				    height: 30px;

				    img{
				    	margin-top: 0px;

				    	&:hover{
				    		margin-top: -30px;
				    		cursor: pointer;

			    		}

				    }

			    }

			}
		}
	}

	//Copyright Bar
	#block-bean-copyright-block-footer{
		@include grid-span(6, 4);
		text-align: center;
		margin-top: 320px;
		margin-bottom: 20px;

		@include breakpoint($mob) {
			margin-top: 340px;

		}
		@include breakpoint($desk) {
			@include grid-span(4, 5);
			margin-top: 360px;

		}

		p{
			color: $text;
			font-size: $copy-txt-sm;

			@include breakpoint($tab) {
				font-size: $copy-txt;

			}

		}

	}

}
