.destinos-grid{
	@include grid-span($grids,1);
	margin: 0;
	padding: 0;
	.views-row{
		height: $dest_hg;

		h2{	
			a{
				@include grid-span(4,4);
				height: $dest_hg;
				position: absolute;
				width: 100%;
				color: #fff;
				text-decoration: none;
				
			}
		}
		img{
			width: 100%;
			height: $dest_hg;
			object-fit: cover;

		}

		@include breakpoint($tab) {
			float: left;
			width: 100%;
		}

		@include breakpoint($desk) {
			float: left;
			width: 33.33%;
		}
	}

}

