.destinos-grid{
	@include grid-span($grids,1);
	margin: 0;
	padding: 0;
	@include breakpoint($tab) {
		.views-row{
			float: left;
			width: 100%;

			h2{
				position: absolute;
				bottom: 10px;

				a{
					color: #fff;
					text-decoration: none;
					
				}
			}
			img{
				width: 100%;
				height: auto;
				object-fit: cover;

			}
		}
	}
	@include breakpoint($desk) {
		.views-row{
			float: left;
			width: 33.33%;

			h2{
				position: absolute;
				bottom: 10px;

				a{
					color: #fff;
					text-decoration: none;
					
				}
			}
			img{
				width: 100%;
				height: auto;
				object-fit: cover;

			}
		}
	}
}

